@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url('nav.css');
@import url('games.css');

body {
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    /* Remove default body margin */
}

* {
    font-family: 'Montserrat', sans-serif;
}


.center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.search {
    z-index: 100;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    user-select: none;
    margin-top: 2.5vw;
    margin-left: 1.2vw;
}

.search input {
    z-index: 100;
    background-color: #222222;
    border: none;
    border-radius: 0.5vw 0 0 0.5vw;
    /* Reduced border-radius */
    color: #fff;
    font-size: 1vw;
    /* Reduced font size */
    font-weight: 600;
    padding: 0.5vw 1vw;
    /* Reduced padding */
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    outline: none;
}

.search input::placeholder {
    z-index: 100;
    color: #fff;
    font-weight: 600;
    font-size: 1vw;
    /* Reduced font size */
}

.isBold {
    z-index: 100;
    font-weight: 700;
}

.search button {
    z-index: 100;
    background-color: gray;
    border: none;
    border-radius: 0 0.5vw 0.5vw 0;
    /* Reduced border-radius */
    color: #222222;
    font-size: 1vw;
    /* Reduced font size */
    font-weight: 600;
    padding: 0.5vw 1vw;
    /* Reduced padding */
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    transition: 0.3s all ease;
}